$box-shdw-default: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
$colors: (body-bg: #edf2f2, card-bg: #fff, img-border: #996ed9, bg-purple: hsl(263, 55%, 52%), 
bg-grayblue: hsl(217, 19%, 35%), bg-darkblue: hsl(219, 24%, 14%));